* {
    margin:0;
    padding:0;
}

html, body, .container{
	height:100%;
}

.container {
    width: 800px;/* 1366px; */
    margin: 0 auto;
	display:flex;
	flex-direction:column;
	background-color: #f1efeb;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 30px;	
}

.menu a {
    padding: 10px 13px;
    color:  #8c8c8c;
    font-weight: 300;
    text-decoration: none;
}

.menu a:hover {
    color: #212121;
}

.page {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    display: flex;
    list-style-type: none;
    margin-top: 30px;
	height: 400px;
}

.page h2{
	margin-left: 20px;
}
